@import "../../style-commons/";

.main-logo {
  background-color: $color-primary-blue;
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  display: grid;

  grid-template-rows: 73% 27%;
  grid-template-columns: repeat(4, 1fr);

  @media only screen and (max-width: $medium-screen) {
    grid-template-rows: 77% 23%;
    grid-template-columns: repeat(8, 1fr);
  }
  @media only screen and (max-width: $small-phone) {
    grid-template-rows: 85% 15%;
    grid-template-columns: repeat(8, 1fr);
  }
}

.logo {
  grid-column: 2 / 3;
  grid-row: 1 / 1;

  height: 30rem;
  margin-top: 25rem;
  justify-self: center;

  @media only screen and (max-height: 720px) {
    height: 28rem;

    justify-self: center;

    align-self: end;
  }

  @media only screen and (max-width: $small-screen) {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
  }

  @media only screen and (max-width: $large-phone) {
    grid-column: 1 / 8;
    grid-row: 1 / 1;
    align-self: center;
    justify-self: center;
  }
  @media only screen and (max-width: $large-phone) {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    margin-top: 0rem;
    height: 20rem;
  }
}

.img-pao {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
  z-index: 3;
  justify-self: end;
  height: 100%;

  @media only screen and (max-width: 1800px) {
    grid-column: 5 / -1;
    grid-row: 1 / -1;
    align-self: center;
    margin-right: -18rem;
  }
  @media only screen and (max-width: 1160px) {
    grid-column: 5 / -1;
    grid-row: 1 / -1;
    align-self: center;
    margin-right: -30rem;
  }
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.padrao {
  grid-column: 1 / 20;
  z-index: 2;
  grid-row: 2 / 3;
  width: 100%;
  background-image: url("./img/site_5estrelas_pattern01.png");

  @media only screen and (max-width: $small-screen) {
    background-image: url("./img/site_5estrelas_pattern01_small.png");
  }
}
