@import "../../style-commons/";

.loja{
  text-align: left;
  color: #FFF;
  font-size: 1.5rem;
  width: 27rem;
  border-bottom: 1px solid $color-secondary-brown;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  & h1{
    font-size: 1.7rem;
    margin-bottom: 8rem;
  }
}

.directions{
  display: flex;  
  padding-bottom: 30px;
  padding-top: 30px;
  height: 100%;

  & img{
    height: 5rem;
    margin-left: 2rem;
    align-self: flex-end;

  }
}