@import "../../style-commons/";



.form-lojas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.7rem;
  & label {
    cursor: pointer;
    margin-right: 15px;
    line-height: 32px;
  }

  & input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
  }

  & input:checked {
    border: 6px solid $color-primary-blue;
  }
}

.whatsLinksWrapper{
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  grid-column: 1 / -1;
}

.qr-code {
  width: 27rem !important;
}

.whatsappLogo {
  width: 10rem !important;
  border: none !important;
  margin-top: 3rem;
  cursor: pointer;
}

.link-whatsapp {
  display: flex;

  margin-top: 3rem;
  align-content: center;
  justify-content: space-evenly;
}