@import "../../style-commons/";

.wrapper {
  align-self: center;
}

.introducao {
  background-color: #ffff;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: minmax(6rem, 0.5fr) repeat(20, 1fr);
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;

  @media only screen and (max-width: $medium-screen) {
    padding-bottom: 15.8rem;
  }
  @media only screen and (max-width: $small-screen) {
    // display: none;
    grid-template-rows: repeat(5, 1fr);
  }
  @media only screen and (max-width: $small-screen) {
    // display: none;
    grid-template-rows: repeat(5, 1fr);
  }
}

.conteudo {
  grid-row: 1 / -1;
  grid-column: 2 / 13;
  width: 100%;
  border: 2px solid $color-primary-blue;
  padding: 13rem 0rem 7rem 9.2rem;

  @media only screen and (max-width: $medium-screen) {
    grid-row: 1 / 6;
    grid-column: 2 / 21;
  }

  @media only screen and (max-width: $small-screen) {
    padding: 8rem 2rem 10rem 4rem;
  }
  @media only screen and (max-width: $large-phone) {
    padding: 0rem;
    grid-column: 1 / -1;
    border: none;
  }

  @media only screen and (max-width: $large-phone) {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
  @media only screen and (max-width: $small-phone) {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
  }

  & p {
    @media only screen and (max-width: $medium-screen) {
      width: 90%;
    }
    @media only screen and (max-width: $small-screen) {
      width: 100%;
    }
    @media only screen and (max-width: $large-phone) {
      padding-left: 2rem;
      padding-right: 2rem;
      margin: 0 auto;
    }
    @media only screen and (max-width: $small-phone) {
      padding-left: 0rem;
      padding-right: 0rem;
      margin: 0 auto;
    }
  }

  & h1 {
    font-size: 6.3rem;
    line-height: 8rem;
    margin-bottom: 4.2rem;
    width: 60rem;
    text-transform: uppercase;
    letter-spacing: 1.8rem;

    @media only screen and (max-width: $large-screen) {
      width: 32rem;
    }
    @media only screen and (max-width: $medium-screen) {
      width: 90%;
    }
    @media only screen and (max-width: $small-screen) {
      width: 100%;
      text-align: center;
    }
    @media only screen and (max-width: $large-phone) {
      width: 100%;
      text-align: center;
      font-size: 4.8rem;
      letter-spacing: 1rem;
    }
  }

  & p {
    margin-bottom: 4.2rem;
    font-size: 1.8rem;
    display: block;
    text-align: justify;
    width: 60%;
    @media only screen and (max-width: $medium-screen) {
      width: 90%;
    }
    @media only screen and (max-width: $medium-screen) {
      width: 90%;
      margin: 0 auto 2rem auto;
    }

    &:first-of-type {
      width: 80%;
      @media only screen and (max-width: $medium-screen) {
        width: 90%;
      }
    }
  }
}

.composition {
  grid-column: 12 / 21;
  grid-row: 3 / 9;
  height: 70%;

  @media only screen and (max-width: $normal-screen) {
    height: 50%;
  }

  @media only screen and (max-width: $medium-screen) {
    grid-column: 2 / 21;
    grid-row: 6 / 8;
    margin-top: -2rem;
    justify-self: center;

    width: 80%;
    margin-left: 12%;
  }

  @media only screen and (max-width: $small-screen) {
    display: none;
  }

  background-color: #ca8342;
  position: relative;
  & img {
    position: absolute;
  }
}

/* --- Imagens ---  */

.sovando-massa {
  width: 71%;
  height: auto;

  top: 31.8rem;

  left: -16.8rem;

  z-index: 11;

  @media only screen and (max-width: $large-screen) {
    top: 36.8rem;
  }

  @media only screen and (max-width: $normal-screen) {
    top: 34.8rem;
    left: -9.8rem;
  }
  @media only screen and (max-width: $medium-screen) {
    top: -19%;
    left: 33%;
    width: 40%;
  }
  @media only screen and (max-width: $small-screen) {
    top: -10%;
    left: 33%;
    width: 40%;
  }
}

.homem-forno {
  height: auto;
  width: 65%;

  left: 41%;

  top: 16.2rem;

  z-index: 0;

  @media only screen and (max-width: $large-screen) {
    top: 11.2rem;
  }
  @media only screen and (max-width: $medium-screen) {
    top: 34%;
    left: 63%;
    width: 42%;
  }
}

.pao-cortado {
  height: auto;
  width: 70%;
  top: -17.5rem;
  left: -5.4rem;

  @media only screen and (max-width: $large-screen) {
    top: -12.5rem;
  }
  @media only screen and (max-width: $large-screen) {
    left: -3.4rem;
  }
  @media only screen and (max-width: $medium-screen) {
    top: 37%;
    left: -10%;
    width: 52%;
    z-index: 11;
  }
  @media only screen and (max-width: $small-screen) {
    top: 37%;
    left: -10%;
    width: 52%;
    z-index: 11;
  }
}

.modal-content {
  display: flex;
  flex-flow: column;
  text-align: justify;
  justify-content: center;
  align-content: center;
  max-width: 86%;
  margin-left: auto;

  margin-right: auto;
  & .logo {
    border: none !important;
  }

  .logoWrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    grid-row: 1 / 1;
    grid-column: 1 / -1;

    .imgLogo {
      border: none !important;
      width: 30%;
      height: auto;
      @media only screen and (max-width: $small-screen) {
        width: 42%;
      }
      @media only screen and (max-width: $large-phone) {
        width: 60%;
      }
    }
  }

  & h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $small-screen) {
      grid-column: 1 / -1;
    }

    justify-self: center;
    align-self: center;
    font-family: "caslongrad";
    font-size: 2.8rem;
    margin-bottom: 5rem;
  }

  & .titulo-valor {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  & .titulo-conteudo {
    font-size: 1.5rem;
    align-self: center;
  }

  & .valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & .valor {
    width: 50%;
    padding: 3rem 2rem;

    @media only screen and (max-width: $large-phone) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    &:last-of-type {
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.composition-modal {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.imgComposition {
  margin-top: 3rem;
  width: 90%;

}

.buttonWrapper {
  @media only screen and (max-width: $large-phone) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.button {
  /*  custom */
  line-height: 4.5rem;
  padding: 1rem 3rem;
  margin-top: 6rem;
  /* end custom */

  /* TODO: Extrair a partir daqui para um componente individual de botão */
  background-color: $color-secondary-brown;
  font-size: 1.8rem;
  color: white;
  font-weight: bolder;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000000, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    outline: none;
    transform: translateY(0px);
    box-shadow: 0 0.5rem 1rem rgba(#000000, 0.2);
  }
}
