@import "../../style-commons/";

.contentWrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: $small-screen) {
    flex-flow: column;
    align-content: center;
  }

}

.imgWrapper{
  margin-right: 3rem;
  @media only screen and (max-width: $small-screen) {
    margin-left: auto;
    margin-right: auto;
  }

}
.contatosWrapper{
  font-size: 1.5rem;
  @media only screen and (max-width: $small-screen) {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  @media only screen and (max-width: $small-phone) {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 80%;
  }
}