@import "../../style-commons/";

@font-face {
  font-family: "caslongrad";
  src: url("./fonts/caslongrad-webfont.woff2") format("woff2"),
    url("./fonts/caslongrad-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*
    ____                _   
  |  _ \ ___  ___  ___| |_ 
  | |_) / _ \/ __|/ _ \ __|
  |  _ <  __/\__ \  __/ |_ 
  |_| \_\___||___/\___|\__|
                           
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  // font-family: $font-primary;
  font-family: 'Merriweather', sans-serif;
  color: $color-primary-blue;
  font-weight: 300;
  line-height: 1.6;
}

h1{
  font-family: 'Merriweather', serif;
}

.mainLayout{
  overflow-x: hidden;
}