@import "../../style-commons/";

.form-item {
  display: flex;
  min-width: 80%;
  font-size: 1.6rem;
  margin-top: 2rem;
}


.label {
  display: inline-block;
  align-self: center;
  margin-right: 3rem;
  min-width: 8rem;
}

.input {
  width: 100%;
}

.textarea {
  width: 100%;
  padding: 1rem;

}

.buttonFormulario {
  margin-top: 3rem;
  width: 80%;
  align-self: center;
  background-color: $color-secondary-brown;
  padding: 1rem 2rem;
  font-size: 1.8rem;

  color: white;
  font-weight: bolder;

  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000000, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    outline: none;
    transform: translateY(0px);
    box-shadow: 0 0.5rem 1rem rgba(#000000, 0.2);
  }
}