@import "../../style-commons/";

.modal-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, min-content);
  gap: 2.5rem;
  padding-right: 4rem;

padding-left: 4rem;
}


.instrucaoVersaoWeb{
  width: 100%;
  display: flex;
  & p{
    width: 50%;
  }
  background-color: green;
}
.instrucoes {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  display: flex;
  font-size: 1.6rem;
  text-align: justify;
  font-family: "merriwater";
}

.errosForm{
  margin-top: 2rem;
  font-size: 1.5rem;
  color: red;
  
}


.cardapio{
  font-size: 1.8rem;
  grid-row: 3 / -1;
  grid-column: 1 / 3;

  @media only screen and (max-width: $small-screen) {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
  }
  @media only screen and (max-width: $large-phone) {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
  }

}

.qrCodeWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  min-height: 30rem;
}

.logo{
  margin-top: 5rem;
  border: 0px solid #FFF !important;
  width: 15rem !important;
  
}

.instrucoesEcommerce{
  & p{
    margin-top: 1rem;
  }
}

.tipos-contato {
  grid-row: 3 / -1;
  grid-column: 3 / -1;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-auto-columns: 100%;

  @media only screen and (max-width: $large-phone) {
    grid-row: 6 / -1;
    grid-column: 1 / -1;
  }
}





.loadingWrapper{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.loading{
  align-self: center;
}

.encomendas-button {
  background-color: #00c08b;
  color: white;
  font-family: "caslongrad";
  font-size: 1.5rem;
  position: fixed;
  bottom: 2rem;
  right: 3rem;

  padding: 1.5rem 2rem;
  z-index: 500;
  border-radius: 999rem;

  cursor: pointer;
}
.whatsappBtn {
  
  color: white;
  width: 50px;
  height: 50px;
  font-family: "caslongrad";
  font-size: 1.5rem;
  position: fixed;
  bottom: 4rem;
  right: 20rem;
  padding: 1.5rem 2rem;
  z-index: 500;
  border-radius: 999rem;

  & img{
    width: 50px;
  height: 50px;
  }

  

}

.aba-content {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  transition: opacity 0.5s;
}

.instrucoes {
  display: flex;
  flex-flow: column;
}




.formulario {
  display: flex;
  flex-flow: column;

  

  
}



.cardapio{
  max-height: 80rem;
  overflow-y: scroll;

}

.whatsapp {
  display: grid;
  grid-template-rows: 100;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
}

.sublista{
  margin-left: 3rem;
}

.aba-inactive {
  visibility: hidden;
  opacity: 0;
}

.aba-active {
  opacity: 1;
  visibility: visible;
}

.abas {
  display: flex;
  font-size: 2.2rem;
  justify-content: space-evenly;

  & li::before {
    position: absolute;
    left: 0;
    bottom: -1.2rem;
    content: "";
    background-color: $color-secondary-brown;
    width: 0;
    height: 0.2rem;
    transition: width 0.4s;
  }

  & li.active::before {
    width: 100%;
  }
  & li.active {
    font-weight: bolder;
  }

  & li {
    cursor: pointer;
    position: relative;
    padding: 0 2rem;
    list-style: none;

    border-bottom: none;
  }
}
