@import "../../style-commons/";

.parceiros {
  background-color: #ffffff;
  flex-flow: column;
  display: flex;
  text-align: center;
  max-width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.titulo {
  font-size: 4rem;
  line-height: 18rem;
  justify-self: center;
  @media only screen and (max-width: $large-phone) {
    font-size: 3rem;
  
  }
}

.subtitulo{
  font-size: 3rem;
  line-height: 18rem;
  @media only screen and (max-width: $large-phone) {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }
}

.logos {
  
  margin-top: 5rem;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin-right: 3rem;
  margin-left: 3rem;
  @media only screen and (max-width: $large-phone) {
    margin-top: 0rem;
  }
  
  & img{

    filter: grayscale(100%);
    align-self: center;
    transition: all .5s;
    transform: scale(1);
    min-height: 6rem;
    margin: 0 3rem;
    @media only screen and (max-width: $large-phone) {
      display: block;
      filter: grayscale(0%);
      margin-bottom: 5rem;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }


    &:hover{
      filter: grayscale(0%);
      transform: scale(1.1);
    }
  }

}
