@import "../style-commons/";
// @import 'node_modules/react-modal-video/scss/modal-video.scss';
/*
   ____ ____ ____     ____          _      
  / ___/ ___/ ___|   / ___|___   __| | ___ 
 | |   \___ \___ \  | |   / _ \ / _` |/ _ \
 | |___ ___) |__) | | |__| (_) | (_| |  __/
  \____|____/____/   \____\___/ \__,_|\___|
     
*/

.prevent-scroll {
  overflow: hidden;
}

.video{
  // style={{margin: "0 auto"}}
  width: 100%;
  height: 550px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;  
  @media only screen and (max-width: $large-phone) {
    height: 35rem;
  }
  @media only screen and (max-width: $small-phone) {
    height: 20rem;
  }
}

.container {

  background-color: $color-secondary-brown;
  display: grid;
  scroll-behavior: smooth;
  //Rows
  grid-row-gap: 0.84rem;
  grid-template-rows:
  [main-logo] 100vh /*990px*/
    [promocao] max-content /*660px*/
    [introducao] minmax(112rem, max-content) /*1120px*/
    [div-1] 50rem /*570px*/
    [artigos] minmax(206rem, max-content) /*2060px*/
    [div-2] 50rem /*570px*/
    // [parceiros] minmax(87rem, auto) /*2060px*/
    [mapa] 57rem /*720px*/
    [footer] max-content;
  grid-template-columns: 100%;

  @media only screen and (max-width: $normal-screen) {
    grid-template-rows:
    [main-logo] 100vh /*990px*/
      [promocao] max-content /*660px*/
      [introducao] minmax(112rem, max-content) /*1120px*/
      [div-1] 42rem /*570px*/
      [artigos] minmax(206rem, max-content) /*2060px*/
      [div-2] 45rem /*570px*/
      // [parceiros] minmax(80rem, max-content) /*2060px*/
      [mapa] minmax(57rem, max-content)  /*720px*/
      [footer] max-content;
  }

  @media only screen and (max-width: $small-screen) {
    grid-template-rows:
    [main-logo] 100vh /*990px*/
      [promocao] max-content /*660px*/
      [introducao] minmax(112rem, max-content) /*1120px*/
      [div-1] 30rem /*570px*/
      [artigos] minmax(206rem, max-content) /*2060px*/
      [div-2] 30rem /*570px*/
      // [parceiros] minmax(80rem, max-content) /*2060px*/
      [mapa] minmax(57rem, max-content)  /*720px*/
      [footer] max-content;
  }

  @media only screen and (max-width: $large-phone) {
    grid-template-rows:
    [main-logo] 100vh /*990px*/
    [introducao] minmax(112rem, max-content) /*1120px*/
    [div-1] 30rem /*570px*/
    [artigos] minmax(206rem, max-content) /*2060px*/
    [div-2] 30rem /*570px*/
    // [parceiros] minmax(80rem, max-content) /*2060px*/
    [mapa] 57rem
    [footer] max-content;
  }
}
