@import "../../style-commons/";
.visible {
  opacity: 1;
  transition: opacity 0.2s;
  z-index: 9999;

  & .overlay {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    height: 999999%;
    width: 99999999%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }

  & .closeButton {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }

  & .closeButton:hover {
    opacity: 1;
  }

  & .closeButton:before,
  .closeButton:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #000;
  }
  & .closeButton:before {
    transform: rotate(45deg);
  }
  & .closeButton:after {
    transform: rotate(-45deg);
  }

  & .content {
    background-color: #fff;
    width: 60%;
    min-height: min-content;
    margin: 100px auto 100px auto;
    padding: 7rem 10px;
    display: flex;
    flex-flow: column;
    border: 2px solid #ca8342;
    min-width: min-content;
    position: relative;
    @media only screen and (max-width: $normal-screen) {
      width: 85%;
    }
    @media only screen and (max-width: $small-screen) {
      width: 95%;
    }

    border: 2px solid $color-secondary-brown;
    & img {
      width: 40rem;
      margin-bottom: 3rem;
      align-self: center;
      border: 2px solid $color-primary-blue;
      @media only screen and (max-width: $large-phone) {
        width: 30rem;
      }
    }
  }

  & .wrapper {
    z-index: 100000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
    outline: 0;
  }
}

.hidden {
  opacity: 0;
  position: absolute;
  transform: scale(0);
}
