@import "../../style-commons/";

.video {
  // style={{margin: "0 auto"}}
  width: 100%;
  height: 550px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: $large-phone) {
    height: 35rem;
  }
  @media only screen and (max-width: $small-phone) {
    height: 20rem;
  }
}

.post-list {
  background-color: #ffffff;
  justify-content: center;
  padding: 10rem 0;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 45rem);
  gap: 3.5rem;

  @media only screen and (max-width: $normal-screen) {
    grid-template-columns: repeat(3, 35rem);
  }
  @media only screen and (max-width: $medium-screen) {
    grid-template-columns: repeat(2, 35rem);
  }
  @media only screen and (max-width: $small-screen) {
    grid-template-columns: minmax(min-content, 100%);
    gap: 0rem;
    row-gap: 3rem;
  }
}

.post {
  display: grid;
  grid-template-rows: 55.5rem 8rem 15rem 5rem;

  font-size: 1.8rem;
  text-align: justify;

  @media only screen and (max-width: $small-screen) {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 50rem;
  }
  @media only screen and (max-width: $large-phone) {
    grid-template-rows: auto 8rem 15rem 5rem;

    grid-column: 1 / -1;
    justify-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  & h1 {
    font-size: 2rem;
    justify-self: center;
    align-self: center;
  }

  & p {
    font-size: 1.6rem;
    text-align: justify;
  }

  & button {
    background-color: $color-secondary-brown;
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;

    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000000, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &:active {
      outline: none;
      transform: translateY(0px);
      box-shadow: 0 0.5rem 1rem rgba(#000000, 0.2);
    }
  }
}
.img-post {
  height: 37rem;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  & .border-img {
    border: 5px solid red;
  }

  @media only screen and (max-width: 1366px) {
    width: 100%;
    min-width: 30rem;
    justify-self: center;
  }
  @media only screen and (max-width: $large-phone) {
    max-height: 37.1rem;
  }
}

.modal {
  display: flex;
  flex-flow: column;
  & h1 {
    line-height: 5rem;
  }

  & ul {
    padding-left: 2rem;
  }

  & li > ul {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 0.8rem;
  }

  & li {
    margin-bottom: 1.2rem;
    line-height: 2rem;
  }
  & p {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 2.8rem;
  }

  & h5 {
    line-height: 4rem;
  }
}
