@import "../../style-commons/";

@keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes fadeOut{from{opacity:1}to{opacity:0}}
.nav {
  font-size: 2rem;
  height: 10rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  opacity: 0;
  display: none;
  z-index: 99;
  justify-content: space-evenly;
  border-bottom: 5px solid $color-secondary-brown;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  

  @media only screen and (max-width: 1366px) {
    font-size: 1.6rem;
  }


  

}

.visible {
  animation: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  display: flex;
  opacity: 1;

  @media only screen and (max-width: $large-phone) {
    display: none;
  }
}

.invisible{
  animation: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;

  @media only screen and (max-width: $large-phone) {
    display: none;
  }
}

.navItems {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  width: 100%;
  list-style: none;
  align-self: flex-end;
  margin-bottom: -5px;
  & li{
    align-self: end;
    margin-bottom: .2rem;
    cursor: pointer;
    padding: 1rem 1rem 0.5rem 1rem;

    border-radius: 500px 500px 0 0;
    transition: all .7s;
    // min-width: 18rem;
    text-justify: center;
    & p{
      text-align: center;
    }

    &:hover{
      font-size: 110%;
      background-color: $color-secondary-brown;
      color: #FFF;
    }
  }
}

.logo{
  background-color: #FFF;
  height: 11rem;
  border-radius: 500px;
  margin-top: 3.5rem;
  border: 2px solid $color-secondary-brown;

  @media only screen and (max-width: $medium-screen) {
    height: 9rem;
    margin-top: 4.5rem;
  }

}
