.header{
  padding: 1rem 0 3rem;
}

.title{
  color: #000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list{
  display: flex;
  list-style-type: none;
}

.nav-item{
  color: #999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.link{
  color: gray;

}

.link:hover{
  color: #666;
}

.active{
  color: black;
}
