/*
 __     __         _                 _     
 \ \   / /_ _ _ __(_) __ ___   _____(_)___ 
  \ \ / / _` | '__| |/ _` \ \ / / _ \ / __|
   \ V / (_| | |  | | (_| |\ V /  __/ \__ \
    \_/ \__,_|_|  |_|\__,_| \_/ \___|_|___/
                                           
*/

// COLOR VARIABLES
$color-primary-blue: #002856;
$color-secondary-brown: #ca8342;

$color-secondary-blue: #0055b8;


$large-screen: 1700px;
$normal-screen: 1500px;
$medium-screen: 1200px;
$small-screen: 1000px;
$large-phone: 700px;
$small-phone: 500px;

// FONT VARIABLES
$font-primary: "caslongrad", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
