@import "../../style-commons/";

.footer {
  background-color: $color-primary-blue;
  letter-spacing: 0.02rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;

  justify-content: center;
  @media only screen and (max-width: $normal-screen) {
    padding-left: 15rem;

    padding-right: 15rem;
  }
  @media only screen and (max-width: $small-screen) {
    padding-left: 10rem;

    padding-right: 10rem;
  }

  & .titulo-footer {
    padding-top: 10rem;
    font-size: 2.5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
  }
}

.lojas {
  justify-content: space-around;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
}

.social-media {
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  & img {
    height: 5rem;
    margin-left: 2rem;
  }
}
