@import "../../style-commons/";

.triggerAccodion{

  cursor: pointer;
  width: auto;
  &:hover{
    font-weight: bolder;
    font-size: 110%;
  }
}

.tituloProduto{
  margin-top: 1rem;
}

.arrowRight{
  transition: transform .2s ease .4s;
  transform: rotate(0deg);  
  display: inline-block;
}

.opcoes{
  margin: 1rem 0;
  padding-left: 3rem;
}

.arrow-down{
  transform: rotate(90deg);  
  display: inline-block;
}

.lista-produtos{
  transition: all 1s;
  max-height: 0px;
  overflow: hidden;
  margin-left: 2rem;
}

.itemMenu{
  margin-top: 2rem;
}



.mostrar{
  max-height: 1000px;
}