@import "../../style-commons/";

.overlay{
  width: 100%;
  height: 100%;
  background-color: $color-secondary-blue;
  opacity: 0.3;
  
}

.paralax{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}