@import "../../style-commons/";

.mapContainer {
  position: relative;
  & iframe {
    z-index: 5;
    position: absolute;
  }
}

.unclicked {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0);
  color: white;
  & p {
    opacity: 0;
    align-self: center;
    justify-self: center;
    font-size: 3rem;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.3);
    & p {
      opacity: 1;
      display: block;
    }
  }

  @media only screen and (max-width: $large-phone) {
    display: none;
  }
}

.clicked {
  display: none;
}
